<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Club de Gatos</title>
</head>
<body>
    <h1>Club de gatos de todos lados</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaIZ5RjchPOT4hTLZGr759cch3aXzENuKgV5M5wRyZNtk8Jq3HaA" alt="Mis Gatos">
    <p>Este es un ejercicio practico de la Clase 14 de <strong> Make it Real </strong>sobre las rutas RESTful</p>
    <p>Este ejercicio muestra algunas formas de generar rutas <strong>GET/POST</strong></p>
    <div>
        <a href="/cats">Nuestro club</a>
        <b></b>
        <a href="/cats/new">Nuevo miembro</a>
    </div>

</body>

</html>