<a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SsB88ObkB14RJhfRnjynAhBU5XXW14MJWeQqdCf40QWFdZZPXg" alt="" height="50" width="50"></a>
<h1>Unete al Club</h1>

<form action="/cats" method="post">
    <input type="text" name="name">
    <input type="url" name="image">
    <input type="submit" value="Ingresa al Club">
</form>