<a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SsB88ObkB14RJhfRnjynAhBU5XXW14MJWeQqdCf40QWFdZZPXg" alt="" height="50" width="50"></a>
<h1>Hola</h1>
<p>Mi nombre es <%= @cat.name %></p>
<img src="<%=@cat.image%>" alt="<%= @cat.name %>">
<h3>Me gusta!</h3>